.logo-container
	@include headerFontFamily
	@include col(12)
	background-color: transparent
	letter-spacing: 1px
	line-height: 1
	margin-bottom: 2rem
	
	@include fit-to(tablet)
		@include col(6)


	&__logo
		color: #fff
		font-size: 2em
		font-style: italic
		font-weight: bold
		padding-top: 2rem
		text-transform: uppercase

	p
		font-size: 1.75rem
		margin-top: 0.5rem
	
	b
		display: block
		font-weight: inherit