.logo-container
	@include col(6)
	// @include col-offset(3)
	padding: 2rem 1rem 1rem

	@include fit-to(tablet)
		@include col(3)
		// @include col-offset(0)


	&__logo
		width: 100%

		img 
			max-width: 100%