.page
    @include bodyFontFamily
    @include grid
    

    &__header
        @include row

    
    &__main-content
        @include row
        display: flex
        flex-flow: column nowrap
        position: relative

