.post-filters
	@include col(12)
	display: flex
	margin-bottom: 1.5rem

	&__filter-button
		@include bodyFontFamily
		border: 1px solid $blue
		border-radius: 0.25rem
		color: $blue
		font-size: 1.25em
		padding: 0.5rem 1.25rem