.post-filters
    @include col(12)
    display: flex
    margin-bottom: 1.5rem

    &__filter-button
        @include bodyFontFamily
        background-color: transparent
        border: 1px solid
        color: #CBCCC5
        cursor: pointer
        display: flex
        font-size: 1.25em
        padding: 0.5rem 1.25rem

        &:hover, &:focus
            box-shadow: 0px 0px 0px 4px lighten($dark-theme-backgound, 15%)
            outline: none

        i 
            height: 24px
            margin-left: 0.5rem
            width: 24px
            transition: transform .3s ease-in-out

        &--active > i
            transform: rotate(180deg)
