.post-detail
	@include grid
	min-height: calc(100vh - 4rem)
	padding-bottom: 4rem
	position: relative
	width: 100%
	
	@include fit-to(tablet)	
		min-height: auto


	&--modal
		padding: 2rem 0 2rem

		@include fit-to(tablet)	
			padding: 4rem 0 4rem

	
	&__featured-content-wrapper
		@include row
		background-color: darken($dark-theme-backgound, 10%)
		display: flex
		flex-flow: column nowrap
		padding-bottom: 2rem

		@include fit-to(tablet)
			padding-bottom: 0

		
	&__info-container
		@include col(12)
		@include col-offset(0)
		color: #eee
		margin-bottom: 1rem

		@include fit-to(tablet)
			@include col(10)
			@include col-offset(1)

		@include fit-to(desktop)
			@include col(8)
			@include col-offset(2)
		
		
		&--modal
			margin-top: 3rem

		
		&__eyebrow
			border: none
			height: 1px
			margin: 0 0 1.5em
			width: 4rem


		&__post-title
			font-size: 1.5em
			margin-bottom: 1rem


	&__image-container
		@include col(12)
		@include col-offset(0)
		border-radius: 0.25rem
		margin-bottom: 1rem
		overflow: hidden

		@include fit-to(tablet)
			@include col(10)
			@include col-offset(1)


	&__gallery
		@include col(12)
		@include col-offset(0)
		display: flex
		flex-flow: row wrap
		margin-top: 1rem

		@include fit-to(tablet)
			@include col(10)
			@include col-offset(1)

		@include fit-to(desktop)
			@include col(8)
			@include col-offset(2)


	&__gallery__thumbnail
		border: 2px solid #000
		border-radius: 0.25em
		margin-bottom: 1em
		margin-right: 1em
		overflow: hidden
		width: calc(25% - (0.75em + 4px))

		&:nth-child(4n)
			margin-right: 0


		@include fit-to(tablet)
			width: calc(20% - (0.8em + 4px))
			
			&:nth-child(4n)
				margin-right: inherit

			&:nth-child(5n)
				margin-right: 0

		
		@include fit-to(desktop)
			width: calc(12.5% - (0.875em + 4px))
			
			&:nth-child(5n)
				margin-right: inherit

			&:nth-child(8n)
				margin-right: 0
			
		
		&--active
			box-shadow: 0px 0px 0px 2px #eee
	
		
	&__text-container
		@include col(12)
		@include col-offset(0)
		border-top: 1px solid
		color: #eee	
		line-height: 130%
		margin-bottom: 1rem
		margin-top: 1.5rem
		padding-top: 2rem

		h1, h2, h3, h4, h5, h6
			margin-bottom: 1rem 
			
			&:not(:first-child)
				margin-top: 3rem

		h1
			font-size: 2.25em

		h2
			font-size: 2em

		h3
			font-size: 1.5em

		h4
			font-size: 1.25em

		h5
			font-size: 1.125em

		h6
			font-size: 1em

		p
			color: #eee !important
			letter-spacing: 0.3px
			line-height: 150%
			font-size: 1.125em

		ul
			list-style-type: circle
			margin-left: 4rem

		ol
			list-style-type: upper-roman
			margin-left: 4rem

		blockquote
			border-left: 1px solid
			margin-bottom: 1rem
			padding: 1rem 0 1rem 2rem

		blockquote > p:last-child
			margin-bottom: 0
		
		@include fit-to(tablet)
			@include col(10)
			@include col-offset(1)

		@include fit-to(desktop)
			@include col(8)
			@include col-offset(2)

	