.primary-nav
    @include col(12)
    margin-bottom: 4em
    padding-top: 4em
    
    
    &__links
        @include bodyFontFamily
        display: flex

        li:not(:last-child)
            margin-right: 2em


    &__link
        color: $gray
        font-size: 1.125em
        text-decoration: none

        
        &--active
            color: $blue