.site-header
    margin-bottom: 2rem
    padding: 2rem 0

    @include fit-to(tablet)
        margin-bottom: 8rem


    &__grid
        @include grid

    
    &__wrapper
        @include row


    .primary-nav
        @include col(12)
        align-items: center
        display: flex
        flex-flow: row nowrap
        margin-top: 1rem
        
        
        &__links
            @include bodyFontFamily
            display: flex
            flex-flow: column nowrap
            li:not(:last-child)
                margin-bottom: 1.5em
                margin-right: 0

            @include fit-to(tablet)
                flex-flow: row

                li:not(:last-child)
                    margin-bottom: 0
                    margin-right: 1rem
        
        &__item
            display: inline-flex
            margin-bottom: 0


        &__link
            border: 1px solid transparent
            color: #CBCCC5
            font-size: 1.125em
            text-decoration: none
            margin-bottom: 0
            padding: 0.3rem 1rem
            position: relative
            transition: border-color .5s cubic-bezier(0.22, 1, 0.36, 1)

            &--active, &--active:hover
                border-color: #CBCCC5

            &:after
                border-top: 1px solid transparent
                border-right: 1px solid transparent
                content: ''
                height: 0.75rem
                position: absolute
                right: 0
                top: 0
                transform: translate(-50%, 50%)
                transition: border-color .5s cubic-bezier(0.22, 1, 0.36, 1), transform .5s cubic-bezier(0.22, 1, 0.36, 1)
                width: 0.75rem

            &:hover:after
                border-color: rgba(#CBCCC5, 1)
                transform: translate(0, 0)

            &--active:after,  &--active:hover:after
                border-color: transparent
                transform: translate(0, 0)


