//layout
$col-gutter: 1rem
$col-offset: 0

//colors
$red: #EC2562
$gray: #626262
$blue: #0766FF
$dark-theme-backgound: #181C26

//type
$bodyFontRegular: 400
$bodyFontBold: 500
$headerFontLight: 200
$headerFontRegualr: 400
$headerFontBold: 500