h1, h2, h3, h4, h5, h6
	@include headerFontFamily
	font-size: 2em
	font-weight: $headerFontBold
	line-height: 0.8


a, caption, figcaption, label, menuitem, p, span
	@include bodyFontFamily
	font-size: 1em
	font-weight: $bodyFontRegular
	line-height: 0.8